In [1]:
import pandas as pd
import numpy as np

### Loading the dataset

In [8]:
data= pd.read_csv(r"C:\Users\sree0\Downloads\titanic_dataset .csv")

In [9]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [11]:
data.shape

(891, 12)

In [12]:
data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## Pre-processing steps

### Handling missing values

In [13]:
# Filling missing values in the 'Age' column with the mean age
data['Age'].fillna(data['Age'].mean(), inplace=True)

# Filling missing values in the 'Embarked' column with the mode
data['Embarked'].fillna(data['Embarked'].mode()[0], inplace=True)

### Encoding categorical variables:

In [14]:
# Convert categorical variables to numerical using one-hot encoding
data = pd.get_dummies(data, columns=['Sex', 'Embarked'], drop_first=True)

### Feature selection:

In [15]:
# Drop unnecessary columns
data = data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)

### Splitting into features and target:

In [16]:
X = data.drop('Survived', axis=1)
y = data['Survived']

In [21]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X = scaler.fit_transform(X)

## Creating kNN and SVM models:

### kNN model

In [22]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=5)

### SVM model

In [23]:
from sklearn.svm import SVC

svm = SVC(kernel='linear')

## k-fold and stratified k-fold cross-validation:

### k-fold cross-validation:

In [24]:
from sklearn.model_selection import cross_val_score

k_fold_scores_knn = cross_val_score(knn, X, y, cv=5)
k_fold_scores_svm = cross_val_score(svm, X, y, cv=5)

avg_accuracy_knn = k_fold_scores_knn.mean()
avg_accuracy_svm = k_fold_scores_svm.mean()

print("kNN Average Accuracy:", avg_accuracy_knn)
print("SVM Average Accuracy:", avg_accuracy_svm)

kNN Average Accuracy: 0.8081036971941498
SVM Average Accuracy: 0.7878601468834348

### stratified k-fold cross-validation

In [25]:
from sklearn.model_selection import StratifiedKFold

skf = StratifiedKFold(n_splits=5)
stratified_scores_knn = cross_val_score(knn, X, y, cv=skf)
stratified_scores_svm = cross_val_score(svm, X, y, cv=skf)

avg_accuracy_knn_stratified = stratified_scores_knn.mean()
avg_accuracy_svm_stratified = stratified_scores_svm.mean()

print("Stratified kNN Average Accuracy:", avg_accuracy_knn_stratified)
print("Stratified SVM Average Accuracy:", avg_accuracy_svm_stratified)

Stratified kNN Average Accuracy: 0.8081036971941498
Stratified SVM Average Accuracy: 0.7878601468834348