In [ ]:
import pandas as pd
import scipy.stats as stats

In [ ]:
data = pd.read_csv(r'/content/Sales_add.csv')

In [ ]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

### Testing the impact of digital marketing on sales using a paired t-test:

In [ ]:
#Null Hypothesis (H0): There is no increase in sales after implementing digital marketing.
#Alternative Hypothesis (H1): There is an increase in sales after implementing digital marketing.

In [ ]:
# Calculate the differences between sales_before and sales_after
data['Difference'] = data['Sales_After_digital_add(in $)'] - data['Sales_before_digital_add(in $)']

# Perform a paired t-test
t_stat, p_value = stats.ttest_rel(data['Sales_before_digital_add(in $)'], data['Sales_After_digital_add(in $)'])


print("Paired t-test:")
print("t-statistic:", t_stat)
print("p-value:", p_value)

Paired t-test:
t-statistic: -12.09070525287017
p-value: 6.336667004575778e-11

In [ ]:
if p_value<0.05:
    print('Reject Null hypothesis')
else:
    print('Accept Null Hypothesis')

Reject Null hypothesis

### Testing the dependency between "Region" and "Manager":

In [ ]:
#Null Hypothesis (H0): There is no dependency between the "Region" and "Manager" features.
#Alternative Hypothesis (H1): There is a dependency between the "Region" and "Manager" features.

In [ ]:
# Create a contingency table
contingency_table = pd.crosstab(data['Region'], data['Manager'])

# Perform chi-square test of independence
chi2, p_value,_, _ = stats.chi2_contingency(contingency_table)



print("Chi-square test of independence results:")
print("chi-square value:", chi2)
print("p-value:", p_value)

Chi-square test of independence results:
chi-square value: 3.050566893424036
p-value: 0.5493991051158094

In [ ]:
if p_value<0.05:
    print('Reject Null hypothesis')
else:
    print('Accept Null Hypothesis')

Accept Null Hypothesis